body {
  font-family: Arial, sans-serif;
  background: linear-gradient(-45deg, skyblue, #e972a1);
  background-size: 500% 500%;
  /* change this if bottom of page glitch*/
  animation: gradient 10s ease infinite;
  padding-top: 20vw;
  margin: 0;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}


.card {
  margin: 20px;
  border-radius: 10px;
  overflow: hidden;
  transition: transform 0.5s, box-shadow 0.5s;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.card:hover {
  transform: scale(1.1);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: scale(1.02);
  transition: transform 0.5s;
}

.card:hover img {
  transform: scale(1);
}
