body {
    text-align: center;
}

#board {
    /* background-color: green; */
    background-image: url("../../images/ArcadeImages/Jump/doodlejumpbg.png");
}

#canvas {
    height: 100px;
    width: 100px;
    /* border: 5px solid black; */
}   

h3 {
  margin: 0px;
}