#stopwatch {
  font-size: 2em;
}

.card {
  margin: 20px;
  border-radius: 10px;
  overflow: hidden;
  transition: transform 0.5s, box-shadow 0.5s;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

.card img {
  width: 80%;
  height: 80%;
  object-fit: cover;
  transform: scale(1.1);
  transition: transform 0.5s;
}

.card:hover img {
  transform: scale(1);
}

/* Toast styling */
.toast {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
  width: auto;
  max-width: 700px; /* Adjust width as needed */
}

.toast-body {
  padding: 10px 15px;
  background-color: #1fc949; /* Blue color */
  color: #ffffff; /* White text */
  border-radius: 5px;
}

/* Change toast background color based on bootstrap alert classes */
.toast-success .toast-body {
  background-color: #28a745; /* Green color */
}

.toast-error .toast-body {
  background-color: #dc3545; /* Red color */
}
